body {
    background-image: url(https://c2.staticflickr.com/8/7227/6926060304_1b63297003_o.jpg);
    background-size: cover;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}